.retry_button {
    background: #ff6f04;
    border: #ff6f04;
    color: white;
    padding: 4px 27px;
    font-size: 17px;
    border-radius: 7px;
}

.no_data_found_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}