* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
div,
section {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

/* Heading Styling */
.heading {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: darkcyan;
}